.App {
  text-align: center;
  height: 100vh;
  display: grid;
  grid-template-rows: 90px 1fr 70px;
  grid-template-areas: "header" "meiuca" "footer" ;

}
Header{
  grid-area: "header";
}
.meiuca{
  grid-area: "meiuca";
  display: grid;
  width: 80vw;
  margin: 0 auto;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
  "b1 b1 b1 b1 b2 b2 b2 b2 b2 b2 b3 b3"
  "m1 m1 m2 m2 m2 m2 m3 m3 m3 m3 m4 m4"
  "e1 e1 e1 e1 e1 e1 e2 e2 e3 e3 e3 e3";
  grid-gap: 5px;
}
.caixa{
  background-color: blue;
  border: 1px black solid;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.caixa:nth-child(1) {
  grid-area: b1;
  background-color: azure;
}
.caixa:nth-child(2){
  grid-area: b2;
}
.caixa:nth-child(3){
  grid-area: b3;
}
.caixa:nth-child(4){
  grid-area: m1;
}
.caixa:nth-child(5){
  grid-area: m2;
}
.caixa:nth-child(6){
  grid-area: m3;
}
.caixa:nth-child(7){
  grid-area: m4;
}
.caixa:nth-child(8){
  grid-area: e1;
}
.caixa:nth-child(9){
  grid-area: e2;
}
.caixa:nth-child(10){
  grid-area: e3;
}
footer{
  grid-area: "footer";
  background-color: #61dafb;
  font-size: smaller;
}


/* .caixa{
  height: calc((100vh - 160px)/3);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
  width:100%;
  margin: 10px
} */

.flex{
  display: flex;
  justify-content: space-between;
  background-color: #61dafb;
}
/* footer{
  background-color: #61dafb;
  margin-top: 35%;
} */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
